
@media screen and (min-width: 900px) {
.box1:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1.5);
}
.box2:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1.5);
}
.box3:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1.5);
}
.box4:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1.5);
}
.box5:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1.5);
}
	.box1 {
		min-height: 30vh;
		width: 28%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box2 {
		min-height: 30vh;
		width: 53%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box3 {
		min-height: 30vh;
		width: 18%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box4 {
		min-height: 64vh;
		width: 46%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box5 {
		min-height: 64vh;
		width: 53%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.white {
		background-color: #fff;
		min-height:10px;
	}
	h1 {
		text-align: center;
	}
	h2 {
		margin-top: 80px;
		font-family: "Comic Sans MS", cursive, sans-serif
		text: center;
		vertical-align: middle;
		position: relative;
	}

	.Aligner {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.font1 {
		font-family: "Lucida Console", Monaco, monospace
	}

	.font2 {
		font-family: "Courier New", Courier, monospace
	}
}

@media screen and (max-width: 899px) {
	
.box1:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1.5);
}
.box2:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1.5);
}
.box3:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1.5);
}
.box4:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1.5);
}
.box5:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1.5);
}
	.box1 {
		min-height: 20vh;
		width: 48%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box2 {
		min-height: 20vh;
		width: 48%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box3 {
		min-height: 30vh;
		width: 96%;
		margin: 3px;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box4 {
		min-height: 35vh;
		width: 48%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box5 {
		min-height: 35vh;
		width: 48%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.white {
		background-color: #fff;
		min-height:10px;
	}
	h1 {
		text-align: center;
	}
	
	h2 {
		margin-top: 80px;
		font-family: "Comic Sans MS", cursive, sans-serif
		text: center;
		vertical-align: middle;
		position: relative;
	}

	.Aligner {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.font1 {
		font-family: "Lucida Console", Monaco, monospace
	}

	.font2 {
		font-family: "Courier New", Courier, monospace
	}
}

@media screen and (max-width: 550px) {
	
	.box1 {
		min-height: 30vh;
		width: 98%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box2 {
		min-height: 30vh;
		width: 98%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box3 {
		min-height: 30vh;
		width: 98%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box4 {
		min-height: 30vh;
		width: 98%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box5 {
		min-height: 30vh;
		width: 98%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.white {
		background-color: #fff;
		min-height:10px;
	}
	
	h1 {
		text-align: center;
	}
	
	h2 {
		margin-top: 50px;
		font-family: "Comic Sans MS", cursive, sans-serif
		text: center;
		vertical-align: middle;
		position: relative;
	}

	.Aligner {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.font1 {
		font-family: "Lucida Console", Monaco, monospace
	}

	.font2 {
		font-family: "Courier New", Courier, monospace
	}
}

@media screen and (max-width: 350px) {
	
	.box1 {
		min-height: 10vh;
		width: 98%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box2 {
		min-height: 10vh;
		width: 98%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box3 {
		min-height: 10vh;
		width: 98%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box4 {
		min-height: 10vh;
		width: 98%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.box5 {
		min-height: 10vh;
		width: 98%;
		margin: auto;
		display: inline-table;
		box-shadow: 5px 5px 8px #474546;
	}

	.white {
		background-color: #fff;
		min-height:10px;
	}
	
	h1 {
		text-align: center;
	}
	
	h2 {
		margin-top: 50px;
		font-family: "Comic Sans MS", cursive, sans-serif
		text: center;
		vertical-align: middle;
		position: relative;
	}

	.Aligner {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.font1 {
		font-family: "Lucida Console", Monaco, monospace
	}

	.font2 {
		font-family: "Courier New", Courier, monospace
	}
}

.green {
  background-color: #015C00;
}

.greeen {
  background-color: #02910D;
}

.blue {
  background-color: #BBE7FF;
}

.bluee {
  background-color: #DBE7FF;
}

.mm {
  background-color: #BBE7FF;
  opacity: 0.8;
}
}
